html body {
font-family: Montserrat,Open Sans,sans-serif;
font-weight: 400;
background-color: #000000;

}

.humanGreen {
  color: #34a446;
}


.offBlack {
  background-color: #1a1a1a;
  border: none;
  border-radius: 3px;

}

.contactLabel {
  color: white;
}
#submitButton {
    color: #fff;
    background-color: #34a446;
    border-color: #34a446;
}
#submitButton:hover {
    color: #fff;
    background-color: #27994b;
    border-color: #27994b;
}
#submitButton:focus {
    box-shadow: 0 0 0 0.2rem rgba(52,164,70,.5)
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo {
    background-size: cover;
    height: 58px;
    width: 180px;
    margin-top: 6px;
    background-image: url("/img/openshift.svg");
    position: fixed;
    bottom: 0%;
    margin-left: 1em;
    margin-bottom: 1em;
  }
.logo a {
  display: block;
  width: 100%;
  height: 100%;
}
.winners {
  padding-top: 0px;
  color: white;
}
.winners:nth-child(even) {
}
.winners:nth-child(odd) {
}
#winnerWrap {
  padding-top: 5vh;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #34a446;
    margin: 1em 0;
    padding: 0;
}
.headline {
  margin-top: 3vh;
}
.headlineText {
  color: white;
  font-size: 4em;
}
